/* app css stylesheet */

.footer {
  background: #111 none repeat scroll 0% 0%;
  color: #666;
  text-align: center;
  padding: 1em;
  bottom: 0;
  position: fixed;
  width: 100%;
  font-size: 80%;
}
/* pure layout css stylesheet  end */